In [11]:
import numpy as np
import pandas as pd

In [18]:
clients = pd.read_csv('clients.csv')
prets = pd.read_csv('prets.csv')

In [19]:
data = pd.merge(clients, prets, on='identifiant')
display(data)

,identifiant,email,nom,genre,ville,CP,revenu,remboursement,duree,type,taux
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,RussellDurand@armyspy.com,Russell Durand,M,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014
...,...,...,...,...,...,...,...,...,...,...,...
239,224,ApollineMichaud@superrito.com,Apolline Michaud,F,PARIS,75008,5118.0,1248.79,300,immobilier,1.206
240,224,ApollineMichaud@superrito.com,Apolline Michaud,F,PARIS,75008,5118.0,238.20,25,automobile,3.423
241,225,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
242,226,FleurCaouette@jourrapide.com,Fleur Caouette,F,PARIS,75002,5098.0,2910.96,240,immobilier,1.140
243,227,FrancisMasse@jourrapide.com,Francis Masse,M,PARIS,75015,2348.0,434.38,300,immobilier,1.157