In [1]:
import numpy as np
import pandas as pd

In [27]:
# traitement réalisés précédemment
prets = pd.read_csv('prets.csv')

# calcul du taux d'endettement
prets['taux_endettement'] = round(prets['remboursement'] * 100 / prets['revenu'], 2)

# renommer taux en taux_interet
prets.rename(columns={'taux':'taux_interet'}, inplace=True)

# calculer le cout total du pret
prets['cout_total'] = prets['remboursement'] * prets['duree']

# calculer les bénéfices mensuels réalisés
prets['benefices'] = round((prets['cout_total'] * prets['taux_interet']/100)/(24), 2)

# création d'une variable risque
prets['risque'] = 'Non'
prets.loc[prets['taux_endettement'] > 35, 'risque'] = 'Oui'

# dataframe de profils clients
profil_clients = prets.groupby('identifiant')[['remboursement','taux_endettement','cout_total','benefices']].sum()
profil_clients.reset_index(inplace=True)
profil_clients.head()

prets.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices,risque
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168,30.80,271212.0,131.99,Non
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,4.52,15360.0,23.69,Non
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,23.50,374355.0,182.97,Non
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972,29.50,132609.6,53.71,Non
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014,34.80,105485.4,44.57,Non

In [3]:
clients_1 = pd.read_csv('clients.csv')
clients_1.head()

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

In [26]:
clients_2 = pd.read_csv('clients_suite.csv')
clients_2.head()

   identifiant                          email                 nom genre
0          150         RochMireault@gustr.com       Roch Mireault     M
1          151       NathalieCormier@cuvox.de    Nathalie Cormier     F
2          152      VallisMainville@gustr.com    Vallis Mainville     M
3          153  DanielleNeufville@teleworm.us  Danielle Neufville     F
4          154      AllyrianeRacine@gustr.com    Allyriane Racine     F

In [41]:
clientAll = [clients_1, clients_2]
clientAll = pd.concat(clientAll, ignore_index=True)
clientAll.head()

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

In [52]:
data = pd.merge(clientAll, profil_clients, on='identifiant')
data.drop_duplicates(subset='identifiant', inplace=True)

In [53]:
data.head(400)

,identifiant,email,nom,genre,remboursement,taux_endettement,cout_total,benefices
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,1130.05,30.80,271212.0,131.99
1,1,GuyMarois@fleckens.hu,Guy Marois,M,1487.85,28.02,389715.0,206.66
2,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,552.54,29.50,132609.6,53.71
3,3,RussellDurand@armyspy.com,Russell Durand,M,586.03,34.80,105485.4,44.57
4,4,AlexisRiel@rhyta.com,Alexis Riel,M,423.61,28.70,101666.4,51.21
...,...,...,...,...,...,...,...,...
296,223,ClaudeDandonneau@jourrapide.com,Claude Dandonneau,F,672.13,31.60,161311.2,83.95
298,224,ApollineMichaud@superrito.com,Apolline Michaud,F,1486.99,29.05,380592.0,196.75
300,225,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,876.43,37.20,157757.4,77.04
302,226,FleurCaouette@jourrapide.com,Fleur Caouette,F,2910.96,57.10,698630.4,331.85
304,227,FrancisMasse@jourrapide.com,Francis Masse,M,434.38,18.50,130314.0,62.82

In [54]:
clients_age = pd.read_csv('client_age.csv')
clients_age.head()

   identifiant  age
0            0   54
1            1   23
2            2   30
3            3   42
4            4   47

In [60]:
pd.merge(data, clients_age, on='identifiant', how='left')

,identifiant,email,nom,genre,remboursement,taux_endettement,cout_total,benefices,age
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,1130.05,30.80,271212.0,131.99,54.0
1,1,GuyMarois@fleckens.hu,Guy Marois,M,1487.85,28.02,389715.0,206.66,23.0
2,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,552.54,29.50,132609.6,53.71,30.0
3,3,RussellDurand@armyspy.com,Russell Durand,M,586.03,34.80,105485.4,44.57,42.0
4,4,AlexisRiel@rhyta.com,Alexis Riel,M,423.61,28.70,101666.4,51.21,47.0
...,...,...,...,...,...,...,...,...,...
223,223,ClaudeDandonneau@jourrapide.com,Claude Dandonneau,F,672.13,31.60,161311.2,83.95,30.0
224,224,ApollineMichaud@superrito.com,Apolline Michaud,F,1486.99,29.05,380592.0,196.75,27.0
225,225,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,876.43,37.20,157757.4,77.04,29.0
226,226,FleurCaouette@jourrapide.com,Fleur Caouette,F,2910.96,57.10,698630.4,331.85,26.0
227,227,FrancisMasse@jourrapide.com,Francis Masse,M,434.38,18.50,130314.0,62.82,27.0