In [1]:
import numpy as np
import pandas as pd

In [11]:
data = pd.read_csv('notes.csv')
data.head(6)

                nom   matiere  note
0  Laurent Dagenais  Français    16
1        Guy Marois  Français    13
2   Beaufort Lesage  Français     8
3    Russell Durand  Français    10
4       Alexis Riel  Français    15
5     Leon Lapresse  Français    17

In [17]:
dataMath = data[data["matiere"] == 'Mathématiques']

In [18]:
dataMath.head()

                 nom        matiere  note
21  Laurent Dagenais  Mathématiques     7
22        Guy Marois  Mathématiques    17
23   Beaufort Lesage  Mathématiques    15
24    Russell Durand  Mathématiques     5
25       Alexis Riel  Mathématiques     5

In [21]:
ff = np.mean(dataMath["note"])

TypeError: 'float' object is not subscriptable

In [ ]:
print(f"La moyenne de la colonne 'note' est {mean_score:.2f}.")